<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nsVicoClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <!--<appender-ref ref="SmtpAppender"/>-->
      <appender-ref ref="LogFileAppender"/>
      <!--<appender-ref ref="ColoredConsoleAppender"/>-->
    </root>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log/log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%02thread] %-5level %logger: %message%newline"/>
      </layout>
    </appender>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline"/>
      </layout>
    </appender>

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="bobby.chopra@prcm.com"/>
      <from value="TagFileUploader@prcm.com"/>
      <subject value="TagFileUploader ERROR"/>
      <smtpHost value="prc-mn-ex01"/>
      <bufferSize value="512"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <nsVicoClient.Properties.Settings>
      <setting name="serIPAddr" serializeAs="String">
        <value />
      </setting>
      <setting name="processorId" serializeAs="String">
        <value />
      </setting>
      <setting name="root" serializeAs="String">
        <value />
      </setting>
      <setting name="ser" serializeAs="String">
        <value />
      </setting>
      <setting name="mgr" serializeAs="String">
        <value />
      </setting>
      <setting name="mt" serializeAs="String">
        <value />
      </setting>
      <setting name="op" serializeAs="String">
        <value />
      </setting>
      <setting name="lstMt" serializeAs="String">
        <value />
      </setting>
      <setting name="lstOp" serializeAs="String">
        <value />
      </setting>
      <setting name="mtID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IPAddr" serializeAs="String">
        <value />
      </setting>
      <setting name="units" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="opID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="lan" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="dtUserUnload" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="ScreenSaverTime" serializeAs="String">
        <value>00:20:00</value>
      </setting>
      <setting name="powerLineValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MachineNr" serializeAs="String">
        <value />
      </setting>
      <setting name="MachineType" serializeAs="String">
        <value />
      </setting>
      <setting name="tmBaseCycle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="test" serializeAs="String">
        <value />
      </setting>
    </nsVicoClient.Properties.Settings>
  </userSettings>
</configuration>